.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
.pnpm-debug.log*
.pnpm.*
*.log
*.log.*
*.log-*
*.log/*